{{#if expenses.length}}
<class class="overflow-x-auto">
    <div class="max-w-screen max-h-screen flex items-center justify-center font-sans overflow-hidden">
        <div class="w-full lg:w-5/6">
            <section class="min-w-max font-sans text-gray-600 body-font">
                <div class="container px-4 pb-16 pt-0 mx-auto">
                    <div class="flex flex-wrap -m-4 text-center">
                        <div class="p-4 w-full items-stretch">
                            <h2 class="title-font font-small lg:text-4xl text-5xl text-gray-900">Welcome {{username}}!
                            </h2>
                            <a
                                class="self-start transform scale-75 flex title-font font-small items-center md:justify-center lg:justify-center justify-center text-gray-900">
                                <img src="/imgs/Money - Emblem - small.png" />
                            </a>
                            <h2 class="counter title-font font-small lg:text-7xl text-5xl text-green-600"
                                data-target={{budget_total}}></h2>
                            <p class="leading-relaxed">Budget</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="bg-white shadow-md rounded my-6">
            </div>
        </div>
    </div>
</class>

<!--Card-->
<div class="bg-gray-100 text-gray-900 tracking-wider leading-normal">
    <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">


        <table id="example" class="stripe hover min-w-full w-full table-auto md:px-4 sm:shadow-lg overflow-hidden"
            style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr>
                    <th data-priority="1">Planned</th>
                    <th data-priority="2">Actual</th>
                    <th data-priority="3">Category</th>
                    <th data-priority="4"></th>
                    <th data-priority="5"></th>
                </tr>
            </thead>
            <tbody class="budget-entries">
                {{#each expenses as |expense|}}
                <tr>
                    <td style="color: green">${{expense.budget_amount}}</td>
                    <td style="color: red">${{expense.amount_spent}}</td>
                    <td>{{expense.title}}:{{expense.sub_category}}</td>
                    <td>
                        <button class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110 delete-button"
                            data-id={{expense.id}}>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </button>
                    </td>
                    <td>
                        <a href="/edit-budget/{{expense.id}}">
                            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </div>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{else}}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded transform scale-75" alt="hero"
                src="imgs/financial-profit.png">
        </div>
        <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Please add an expense
                <br class="hidden lg:inline-block">to view your dashboard
            </h1>
            <p class="mb-8 leading-relaxed">A budget is telling your money where to go instead of wondering where it
                went.</p>
            <div class="flex justify-center">
                <a href="/create-budget"
                    class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Get
                    Started</a>
            </div>
        </div>
    </div>
</section>
{{/if}}

{{!-- SCRIPT TAGS GO HERE --}}
{{#if expenses.length}}
<script src="/js/budgetTicker.js"></script>
<script src="/js/delete-entry.js"></script>
{{/if}}